<h1>TDA Warshall</h1>
<div>
  <label>Ingrese el tamaño matriz de adyacencia: </label>
  <br />
  <p-inputNumber
    inputId="integeronly"
    [(ngModel)]="matrizSize"
    [max]="12"
  ></p-inputNumber>
  <button
    pButton
    type="button"
    label="Crear Matriz"
    (click)="crearMatriz()"
  ></button>
</div>
<br />
<div class="matriz">
  <table *ngIf="matriz">
    <tr *ngFor="let row of matriz; let i = index">
      <td *ngFor="let col of row; let j = index">
        <p-inputSwitch [(ngModel)]="matriz[i][j]"></p-inputSwitch>
      </td>
    </tr>
  </table>
</div>
<div>
  <button pButton type="button" label="Warshall" (click)="warshall()"></button>
</div>
<div class="matriz" *ngIf="resultado.length > 0">
  <table>
    <tr *ngFor="let row of resultado; let i = index">
      <td *ngFor="let col of row; let j = index">
        <p-inputSwitch [readonly]="true" [(ngModel)]="resultado[i][j]"></p-inputSwitch>
      </td>
    </tr>
  </table>
</div>
