<h1>TDA Warshall</h1>
<div>
  <label>Ingrese el tamaño matriz de adyacencia: </label>
  <br />
  <p-inputNumber
    inputId="integeronly"
    [(ngModel)]="matrizSize"
    [max]="12"    
  ></p-inputNumber>
  <button
    pButton
    type="button"
    label="Crear Matriz"
    (click)="crearMatriz()"
  ></button>
</div>
<br>
<div class="matriz">
  <table>
    <tr *ngFor="let row of matriz">
      <td *ngFor="let col of row">
        <!-- <label>A</label> -->
        <p-inputSwitch></p-inputSwitch>
      </td>
    </tr>
  </table>
</div>
