<div class="header">
  <img src="../assets/gokuChiquito.png" />
  <h1>TDA Warshall - Grupo #3</h1>
  <img src="../assets/gokuGrande.png" />
</div>
<div class="ingresar-tamanio">
  <label>Ingrese el tamaño matriz de adyacencia: </label>
  <br />
  <p-inputNumber
    inputId="integeronly"
    [(ngModel)]="matrizSize"
    [max]="12"
  ></p-inputNumber>
  <button
    pButton
    type="button"
    label="Crear Matriz"
    (click)="crearMatriz()"
  ></button>
</div>
<br />
<div class="matrices">
  <span>
    <div class="matriz">
      <table *ngIf="matrizView">
        <tr *ngFor="let row of matrizView; index as i">
          <td *ngFor="let col of row; index as j">
            <p-checkbox
              [ngModel]="matrizView[i][j]"
              [binary]="true"
              (click)="cambiarValor(i, j)"
            ></p-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </span>
  <span>
    <div class="matriz" *ngIf="resultado.length > 0">
      <table>
        <tr *ngFor="let row of resultado; let i = index">
          <td *ngFor="let col of row; let j = index">
            <p-checkbox
              [readonly]="true"
              [binary]="true"
              [(ngModel)]="resultado[i][j]"
            ></p-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </span>
</div>
<div>
  <button
    *ngIf="matrizView.length > 0"
    pButton
    type="button"
    label="Warshall"
    (click)="warshall()"
  ></button>
</div>
